.mainHeader {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 9999;
}
.mainHeader__nav {
  display: flex;
  padding: 1rem;
  margin: 0 2rem;
  justify-content: space-between;
}
.mainHeader:hover {
  background-color: white;
}
.mainHeader__nav__left {
  width: 100%;
  display: flex;
  gap: 5rem;
}
.mainHeader__nav__div__h1 {
  width: 8rem;
}
.mainHeader__nav__div__ul {
  display: flex;
  gap: 4rem;
}

.mainHeader__nav__div__ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader__nav__div__ul > li > span {
  font-size: 0.8rem;
}
.mainHeader__nav__right__ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}
.mainHeader__nav__right__ul > li {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader__nav__right__ul > li > span {
  font-size: 0.8rem;
}
