.mainhero {
  height: 100vh;
  overflow: hidden;
}
.swiperA {
  position: relative;
  height: 100%;
}
.swiper-pagination {
  position: absolute;
  bottom: 5%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.swiper-slide__textbox > .libre-caslon-text-regular > span::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.swiper-slide__textbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.swiper-slide__textbox__downp {
  color: white;
  font-size: 1.4rem;
}
.BrandBoxa {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.herobackgroundimg__btn {
  margin-top: 3rem;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  background-color: white;
  border: none;
  transition: all 0.5s;
}
.herobackgroundimg__btn:hover {
  background-color: black;
  color: white;
}
.libre-caslon-text-regular > span {
  font-size: 6rem;
  font-family: "Cafe24LovingU";
  line-height: 0.35;
  position: relative;
}
.libre-caslon-text-regular > span::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.1rem solid rgb(255, 255, 255);
}
.herobackgroundfirstimg {
  width: 100%;
  height: 100%;
  background-image: url(../../image/mainhero/main_visual11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.herobackgroundsecondimg {
  width: 100%;
  height: 100%;
  background-image: url(../../image/mainhero/main_visual33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.herobackgroundthirdimg {
  width: 100%;
  height: 100%;
  background-image: url(../../image/mainhero/main_visual22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.BrandContainera {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.BrandPicturea {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  main {
    margin-top: 4rem;
  }

  .mainhero {
    height: 29vh;
    position: relative;
  }
  .swiper-slide__textbox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    gap: 1rem;
  }
  .swiper-slide__textbox__downp {
    color: white;
    font-size: 0.8rem;
  }
  .herobackgroundimg__btn {
    margin-top: 1rem;
    font-size: 0.5rem;
    padding: 0.8rem 1.5rem;
    background-color: white;
    border: none;
    transition: all 0.5s;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-slide__textbox__upp {
    font-size: 0.7rem;
  }
  .libre-caslon-text-regular > span {
    font-size: 2rem;
  }
  .swiper-slide__textbox > .libre-caslon-text-regular > span::after {
    top: -11px;
  }
  .BrandBoxa {
    padding: 0;
    width: 100%;
    height: 80%;
  }
  .BrandPicture {
    width: 100%;
  }
  .BrandContainera {
    height: 80vh;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .reverse {
    flex-direction: column;
  }
}
