.mainSecondSection {
  height: 100vh;
  position: relative;
}
.mainBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
}
.swiperB {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide__cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-slide__cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-slide__cards > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.3rem;
}
.swiper-slide__cards > div > span {
  font-weight: 300;
}
.listSlide {
  width: 70rem;
  height: 33rem;
  overflow: hidden;
}
.mainBox_innertext {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.3rem;
}
.learn {
  margin-top: 3rem;
  font-size: 1rem;
}
.Collection {
  position: relative;
  border: none;
  background-color: transparent;
}
.Collection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.01rem;
  background-color: black;
  transition: all 0.1s;
}
.Collection:hover::after {
  width: 100%;
}
.lastbtn {
  margin-top: 2rem;
  font-size: 0.8rem;
  padding: 1rem 2rem;

  ckground-color: rgb(0, 0, 0);
  border: none;
  transition: all 0.5s;
  color: white;
}
.lastbtn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0.01rem solid rgb(0, 0, 0);
}
.lastbtnbox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.swiperB .swiper-button-next,
.swiperB .swiper-button-prev {
  /* 1. 기본 SVG 또는 유니코드 아이콘 제거 */
  background-image: none !important;
  content: "" !important;
  /* 2. 버튼의 크기 설정 (필요한 경우) */
  width: 0px;
  height: 0px;
  padding: 0 1rem;
  /* 3. 배경 이미지를 이용해 사용자 정의 아이콘 삽입 */
  background-size: cover;
  background-repeat: no-repeat;
  /* 버튼의 위치 조정이 필요하다면 여기에 추가 */
}
@media screen and (max-width: 768px) {
  .mainBox {
    height: 70%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .mainSecondSection {
    height: 100%;
  }
  .mainBox_innertext {
    width: 90%;
    font-size: 1rem;
  }
  .swiper-slide__cards > div {
    font-size: 0.5rem;
  }
  .lastbtn {
    font-size: 0.5rem;
    padding: 0.7rem 1.5rem;
  }
  .listSlide {
    height: 100%;
  }
  .mainBox_innertext {
    margin-left: 0;
  }
}
