.storeKorea__fourth {
  width: 100%;
  margin: 4.0625rem auto 6.25rem;
}

.storeKorea__fourth > h1 {
  font-family: Pretendard;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 0 4.0625rem;
}

.storeKorea__fourth > article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.storeKorea__fourth > article > div {
  width: 22.375rem;
  float: left;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
}

.storeKorea__fourth > article > div > h2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.storeKorea__fourth > article > div > a > p {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}

.storeKorea__fourth > article > div > .storeKorea__fourth__Notlink {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}
