.storeGlobal__second {
  width: 100%;
  margin-top: 7.8125rem;
  display: flex;
  flex-direction: column;
}

.storeGlobal__second > h1 {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4.0625rem;
}

.storeGlobal__second > article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.storeGlobal__second > article > div > picture {
  width: 100%;
}

.storeGlobal__second > article > div > picture > img {
  width: 100%;
  margin: 0 0 0.6rem;
}

.storeGlobal__second > article > div > h2 {
  font-family: Pretendard;
  font-weight: 600;
  color: #000000;
  font-size: 0.875rem;
  margin: 0 0 0.6rem;
}

.storeGlobal__second > article > div > p {
  font-family: Pretendard;
  color: #000000;
  font-size: 0.75rem;
  margin: 0 0 0.4rem;
}

.storeGlobal__second > article > div > span {
  font-family: Pretendard;
  color: #888888;
  font-size: 0.625rem;
}
