/* ProductSection */
#sectionShop > #container > #listProducts {
  position: relative;

  margin: 0 auto;

  max-width: 1485px;
  min-width: 1220px;
  width: 100%;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
}

#sectionShop > #container > #listProducts > #userList {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

#sectionShop > #container > #listProducts > #userList > ul {
  display: flex;
  flex-direction: row;
}

#sectionShop > #container > #listProducts > #userList > ul > .categoryLists {
  margin-right: 2.5rem;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.105625rem;

  position: relative;
}

/* a Grid box */
#sectionShop > #container > #listProducts > #productsGrid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 4rem;
}

#sectionShop > #container > #listProducts > #productsGrid > .prdLis {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* images in Grid */

#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisPic {
  position: relative;
}

#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisPic
  > #prdLisPicImg {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: relative;
  cursor: pointer;
}

#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisPic::after {
  position: absolute;
  content: "";
  width: 100%;

  top: 100%;
  left: 0%;
  bottom: 0%;
  transform-origin: left;
  transform: scale(0);
  transition: all 0.2s;
  background-color: #000000;
  height: 0.125rem;
}

#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisPic:hover::after {
  transform: scale(1);
}

/* GridprdDesc */
#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisDesc {
  width: 100%;

  margin-top: 0.75rem;
  font-size: 0.75rem;
  letter-spacing: 0.105625rem;
  line-height: 1.3;

  font-family: "Poppins", sans-serif;
}

#sectionShop
  > #container
  > #listProducts
  > #productsGrid
  > .prdLis
  > #prdLisDesc
  > #prdLisDescDetail {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

/* 카테고리 타입 미해당 시 */
#sectionShop > #container > #listProducts > #productsGrid > .hidden {
  display: none;
}
