#sectionShop {
  width: 100%;
  position: relative;

  overflow: hidden;
  margin: 0;
}

/* topSide */
#sectionShop > #container > #topSide {
  width: 100%;
  margin-bottom: 5rem;
}

#sectionShop > #container > #topSide > #photoTop > img {
  width: 100%;
  object-fit: cover;
}
